html
    head
        script(src="https://cdn.rawgit.com/nicgirault/circosJS/v2/dist/circos.js")
        script(src="/js/scripts.js")

        title Synteny
    body
        svg#chart(style="width:750px;height:750px")