.w-100 {
    width: 100% !important;
}

.no-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

.hidden {
    display: none;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
}

/* - */

body {
    min-width: 500px;
}

#header-panel-container {
    position: relative;
    z-index: 1;
    margin: 10px auto;
}
    #header-panel {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.9);
    }
        #karyotype-header-div {
            white-space: nowrap;
        }
        #header button {
            height: 34px;
        }
        .list-item {
            margin-top: 10px;
        }
            .list-item .species {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        #btn-done {
            margin-top: 10px;
        }
        #btn-collapse {
            text-decoration: none;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    #chart-container {
        pointer-events: none;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
        #chart {
            width: 100%;
            height: 100%;
        }
            #chart circle {
                pointer-events: all;
            }

#recent-panel {
    background-color: rgba(255, 255, 255, 0.9);
}
    .recent-list-item .recent-date {
        white-space: nowrap;
    }
    .recent-list-item .recent-species {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .recent-list-item button {
        height: 25px;
        width: 100%;float:right;
    }
    #btn-collapse-recent {
        text-decoration: none !important;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

#matrix-div {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: monospace;
}

#bitwise-switch-div {
    position: absolute;
    top: 10px;
    right: 10px;
}