.w-100 {
    width: 100% !important;
}

.no-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

.hidden {
    display: none;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* - */

.list-item {
    margin-top: 10px;
}

#btn-done {
    margin-top: 10px;
}

#sequences {
    font-family: monospace;
}