.row.list-item
    .col-sm-3
        h5 #{item.division}
    .col-sm-5
        h5 #{item.species}
    .col-sm-3
        h5 #{item.karyotypes}
    .col-sm-1
        button.btn.btn-danger.w-100
            i.fa.fa-times.center