.row.recent-list-item
    .col-xs-3
        small.recent-date #{date}
    .col-xs-7
        p.recent-species (#{count} Seqs) #{species}
    .col-xs-2
        button.btn.btn-primary
            i.fa.fa-eye.center